<canvas id="canvas" width="900" height="900" style="display: block; background-color:white"></canvas>
<div id="dialog-confirm" title="New Game?" style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Start a new Game?</p>
</div>